
.content__img{
    width: 100%;
    background: white;
    img {
     border-bottom-left-radius: 30px;
     border-bottom-right-radius: 30px;
    }
}

.tittle__pragma {
    color: #6429CD;
 }
 .icon__color_pragma{
    color: #6429CD;
 }

.content__info{
    background: white;
    color: black;
}
