.welcome{
 background: #1d1d1b;

 .tittle__pragma {
    color: #6429CD;
 }

 h2 {
    line-height: 0.5;
 }
 .bg__white{
    background: white;
 }

 .border_round_top {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
 }

 .tittle__black{
    font-size: 26px;
    color: #000000;
 }
 .no__margin {
    margin: 0px;
 }
 .no__padding {
    padding:0px;
 }
 ion-card{
    background:white;
 }

}